 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .body {
   background: rgb(132,97,209);
   background: radial-gradient(circle, rgba(132,97,209,1) 6%, rgba(97,164,209,1) 23%, rgba(185,90,196,1) 40%, rgba(88,82,182,1) 59%, rgba(74,74,168,1) 77%, rgba(136,74,168,1) 97%);
 }
   .wrapper {
    height: 100vh;
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -58px; 
   
  
 }

 .memory-game {
    width: 650px;
    height: 650px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
 }

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    transform: scale(1);
    position: relative;
    transition: transform 0,5s;
    transform-style: preserve-3d;
}
.memory-card.flip {
   transform: rotateY(180deg);
} 

.memory-card:active {
   transform: scale(0.97);
   transition: transform 0,2s;
} 

.back-side {
    width: 100%; 
    height: 100%; 
    position: absolute;
    padding: 20px;
    border-radius: 5px;
   
    backface-visibility: hidden;
}

.front-side {
   width: 100%;
   height: 100%;
   position: absolute;
   padding: 20px;
   border-radius: 5px;
   transform: rotateY(180deg);
   backface-visibility: hidden;
}

#moves {
   margin-left: 590px;
   display: flex;
   font-size: 50px;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: #c8caf1;
   text-shadow: #000000 3px 1px 0;
}

.countdown {
   margin-left: 510px;
   font-size: 50px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-shadow: #c8caf1 3px 1px 0;
}
